<div ng-controller="Our.Umbraco.ContentTypeInfoController as vm">
    <div class="umb-package-details">


        <div class="umb-package-details__main-content">
            <umb-box data-element="node-info-general">
                <umb-box-header title-key="general_general"></umb-box-header>
                <umb-box-content class="block-form">

                    <umb-control-group label="Id" ng-if="vm.showInfo">
                        <div>{{vm.id}}</div>
                        <small>{{vm.key}}</small>
                    </umb-control-group>

                    <umb-control-group label="Create Date" ng-if="vm.showInfo">
                        <div>{{vm.createDate}}</div>
                    </umb-control-group>

                    <umb-control-group label="Last Update Date" ng-if="vm.showInfo">
                        <div>{{vm.updateDate}}</div>
                    </umb-control-group>

                    <umb-control-group label="UDI" ng-if="vm.showInfo">
                        <div>{{vm.udi}}</div>
                    </umb-control-group>

                </umb-box-content>
            </umb-box>
        </div>

    </div>
</div>
